<a href="https://colab.research.google.com/github/nielcosta/analise-de-dados/blob/main/Aula_Pratica_Teste_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ### Fundamentos de Python
 Aula 1 - Como trabalhar com o Colab

#### Introdução

In [ ]:
print ('Bora começar mais um estudo Python!')

In [ ]:
mensagem = "Olá Mundo cruel!"
print(mensagem)

In [ ]:
nome = input ("Qual é o seu nome ?: ")
print(f'Seu nome é : {nome}')

##Operadores Matemáticos


*texto em itálico*

In [ ]:
n1=float(input ('Entre com primeiro número : '))
n2=float(input ('Entre com segundo número : '))

soma = n1+n2
sub = n1 -n2
mult= n1*n2
div = n1/n2
resto= n1%n2
exp =n1**n2
inte= n1//n2

print(f'Soma de {n1} e {n2} é : {soma}')
print(f'Subtração de {n1} e {n2} é :{sub}')
print(f'Multiplicação de {n1} e {n2} é :{mult}')
print(f'Divisão de {n1} por {n2} é :{div:.2f}')
print(f'O Resto da Divisão de {n1} por {n2} é :{resto}')
print(f'{n1} potencializado a {n2} é :{exp}')
print(f'O Inteiro da Divisão de {n1} por {n2} é :{inte}')

## Importação de Bibliotecas e Pacotes

### Biblioteca Numpy

Link: https://numpy.org/doc/stable/user/index.html

In [ ]:
import numpy as np

In [ ]:
n = int (input('Entre com um número :'))
raiz_quadrada = sqrt (n)
print(f'A raiz quadrada de {n} é igual a {raiz_quadrada}')

In [ ]:
import math

Link Documentação : https://docs.python.org/pt-br/3/library/math.html

In [ ]:
n = int (input('Entre com um número :'))
raiz_quadrada = math.sqrt (n)
print(f'A raiz quadrada de {n} é igual a {raiz_quadrada}')

Entre com um número :25
A raiz quadrada de 25 é igual a 5.0

In [ ]:
from math import sqrt
raiz = sqrt (n)
print(f'Valor: {raiz}')

Valor: 5.0

In [ ]:
from math import sqrt, factorial

In [ ]:
n = int (input('Entre com um número :'))
fatorial = math.factorial (n)
print(f'O fatorial de {n} é igual a {fatorial}')

Entre com um número :5
O fatorial de 5 é igual a 120

In [ ]:
fatorial_raiz = factorial(int(sqrt (25)))
fatorial_raiz

120

### Random
Link: https://docs.python.org/pt-br/3/library/random.html

In [ ]:
import random as rd
num = rd.randint(1,12)
num

4

In [ ]:
from random import randint, random

randint(2,45)

9

In [ ]:
"""Caso necessite de ajuda com uma expressão basta colocar a expressão seguido de interrogação
random?
No caso do random abaixo, será realizado um sorteio que pode dar como resultado
um valor entre 0 a 1
"""
num = random()
print(f'{num:.2f}')

0.45

### Estrutura de Condição

if | elif | else

In [ ]:
try:

  not1 = float(input ('Nota 1:'))
  not2 = float(input ('Nota 2:'))
  not3 = float(input ('Nota 3:'))
  nota = (not1 + not2 +not3)/3
  print(f'Nota final : {nota:.2f}')

  if (nota >=80):
    print('Parabéns você passou de fase! ')
  elif ((nota>=60) and (nota<=79)): print('Cuidado! Você esta de recuperação! ')
  else: print('Sinto muito...você não passou de fase! ')

except: print ('Valores incorretos de entrada!')

## Estrutura de Repetição

Comandos For

In [ ]:
for i in range (0,101):
 if i%2==0 :print (i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
lista =[2,4,5,6,7,8,9,10]

for i in lista :
  i=i**2
  print(i, end=' ')

4 16 25 36 49 64 81 100

In [ ]:
soma =0
cont =0

for c in range (1, 6):
  num = int(input(f'Digite o {c}° Valor: '))
  if num %2 ==0:
      soma = soma+num
      cont=cont+1

print(f'Foram {cont} números informados e a soma deles foi: {soma}')

Digite o 1° Valor: 2
Digite o 2° Valor: 4
Digite o 3° Valor: 6
Digite o 4° Valor: 8
Digite o 5° Valor: 4
Foram 5 números informados e a soma deles foi: 24

Comandos While

In [ ]:
c=1
s=0
while c<10:
  s = c+10
  print(s, end='-')
  c=c+1
print('FIM')

11-12-13-14-15-16-17-18-19-FIM

### Listas Tuplas e Dicionários

Listas [ ]
Tuplas ( )
Dicionários { }

##Listas

In [ ]:
num =[2,5,6,4,8]
num

[2, 5, 6, 4, 8]

In [ ]:
num[2] =9
num

[2, 5, 9, 4, 8]

In [ ]:
num.append(10)
num

[2, 5, 9, 4, 8, 10]

In [ ]:
num.sort()
num

[2, 4, 5, 8, 9, 10]

In [ ]:
num.insert(22,1)
num

[1, 2, 4, 5, 8, 9, 10, 0, 1]

In [ ]:
num.remove(0)
num

[2, 4, 5, 8, 9, 10]

In [ ]:
num.pop(2)
num

[2, 4, 8, 9, 10]

## Tupla

In [ ]:
num2=(2,45,8,7,5,6,10,1,3) #Tupla nunca é alterada
num2

(2, 45, 8, 7, 5, 6, 10, 1, 3)

In [ ]:
num2(3)=21
num2

## Dicionários

In [ ]:
pessoa = {'CodigoCli':1,'Nome':'Daniel', 'Profissao' :'Analista', 'Salario':5000}
print(pessoa)

{'CodigoCli': 1, 'Nome': 'Daniel', 'Profissao': 'Analista', 'Salario': 5000}

In [ ]:
pessoa['time']='Flamengo'
print(pessoa)

{'CodigoCli': 1, 'Nome': 'Daniel', 'Profissao': 'Analista', 'Salario': 5000, 'time': 'Flamengo'}

In [ ]:
del pessoa ['Salario']
print(pessoa)

{'CodigoCli': 1, 'Nome': 'Daniel', 'Profissao': 'Analista', 'time': 'Flamengo'}

In [ ]:
pessoa['Nascimento']='13/11/1981'
pessoa

{'CodigoCli': 1,
 'Nome': 'Daniel',
 'Profissao': 'Analista',
 'time': 'Flamengo',
 'Nascimento': '13/11/1981'}

In [ ]:
del pessoa ['time']
pessoa

{'CodigoCli': 1,
 'Nome': 'Daniel',
 'Profissao': 'Analista',
 'Nascimento': '13/11/1981'}

## Funções

In [ ]:
def identificacao(nome, idade):
  if (idade <18): print(f'{nome}, você é de menor ! Você só possui {idade} ano(s)')
  elif(idade >18)and (idade<60):print(f'{nome}, você é adulto ! Você possui {idade} ano(s)')
  else:print(f'{nome}, você é idoso ! Você possui {idade} ano(s)')

try:
  nome = input('Entre com o seu nome:')
  idade = int(input('Entre com a sua idade:'))
  identificacao (nome, idade)

except ValueError:
    print('Entre com valores válidos da próxima vez!')

Entre com o seu nome:Miguel
Entre com a sua idade:9
Miguel, você é de menor ! Você só possui 9 ano(s)

In [ ]:
def classificacao(n1, n2):
  if (n1<n2): print(f'{n2} é maior que {n1}')
  elif (n1>n2): print(f'{n1} é maior que {n2}')
  else: print(f'{n1} e {n2} são iguais ')

try:
  num1 = int(input('Entre com número 1:'))
  num2 = int(input('Entre com número 2:'))
  classificacao(num1, num2)

except ValueError:
    print('Entre com valores válidos da próxima vez!')

Entre com número 1:2
Entre com número 2:2
2 e 2 são iguais

In [ ]:
# Calcular hipotenusa

def calculo (hip, b,c):
  if hip =='0':
    hip = ((b**2)+(c**2))**1/2
    print(f'O valor da hipotenusa foi {hip}')
  elif c =='0':
     c = ((hip**2)+(b**2))**1/2
     print(f'O valor cateto 2  foi {c}')
  else:
     b = ((hip**2)+(c**2))**1/2
     print(f'O valor cateto 1  foi {b}')

try:
  hip = int(input('Entre com hipotenusa:'))
  b = int(input('Entre com cateto1:'))
  c = int(input('Entre com 2:'))
  calculo(hip,b,c)
except ValueError:
    print('Entre com valores válidos da próxima vez!')

Entre com hipotenusa:0
Entre com cateto1:4
Entre com 2:3
O valor cateto 1  foi 4.5

## Funções Lambda e Map

In [2]:
def area_quadrado(l):
  area = l*l
  print (area)

try:
  lado = int(input('Entre com o lado do quadrado:'))
  area_quadrado(lado)
except ValueError:
    print('Entre com valores válidos da próxima vez!')

Entre com o lado do quadrado:2
4

In [11]:
#função lambda

area2 = lambda x:x**2
area2(5)

25

In [21]:
# Cálculo da área do retângulo usando uma função lambda
area_ret = lambda b, h: b * h

try:
  base = int(input('Entre com a base:'))
  altura = int(input('Entre com altura:'))
  área = area_ret(base, altura)
  print(f"A área do retângulo é {área} unidades quadradas.")

except ValueError:
    print('Entre com valores válidos da próxima vez!')

Entre com a base:8
Entre com altura:5
A área do retângulo é 40 unidades quadradas.

### Função Map

In [23]:
Lista = [4,6,8,7,9,11,13]
areas = list(map(lambda x: x*2,Lista))
print(areas)

[8, 12, 16, 14, 18, 22, 26]

In [30]:
# Cálculo da área usando uma função lambda e map()
lista = []
for i in range(10):
    numero = int(input(f'Entre com um número{i+1}: '))
    lista.append(numero)

areas = list(map(lambda x: x**2, lista))
print(areas)

Entre com um número1: 1
Entre com um número2: 2
Entre com um número3: 3
Entre com um número4: 4
Entre com um número5: 5
Entre com um número6: 6
Entre com um número7: 7
Entre com um número8: 8
Entre com um número9: 9
Entre com um número10: 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehensions

In [35]:
lista1 =[]
for valor in range(5):
  lista1.append(valor**2)
print (lista1)

[0, 1, 4, 9, 16]

In [37]:
lista= [valor+10 for valor in range(5)]
print (lista)

[10, 11, 12, 13, 14]

In [39]:
lista=[]
for numero in range(1,30):
  if numero %4 ==0 :  lista.append(numero)
print(lista)

[4, 8, 12, 16, 20, 24, 28]

In [41]:
#Outra forma

multiplos4 = [numero for numero in range(1,30) if numero%4 ==0 ]
print(multiplos4)

[4, 8, 12, 16, 20, 24, 28]

In [43]:
# Lista de conceitos com base nas notas
conceito = ['azul' if nota >7 else 'amarela' if 5 <= nota <=7 else 'vermelha' for nota in range (0,11) ]
print(conceito)

['vermelha', 'vermelha', 'vermelha', 'vermelha', 'vermelha', 'amarela', 'amarela', 'amarela', 'azul', 'azul', 'azul']

## Vetores e Matrizes

In [44]:
vetor = [ 2,5,6,4,8,9]
type(vetor)

list

In [45]:
matriz =[ [1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]
type(matriz)

list

In [48]:
print(matriz)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [53]:
import numpy as np

vetor2 = np.array([1,-3,4.2,12])
type(vetor2)

numpy.ndarray

numpy.ndarray

In [54]:
print(vetor2)

[ 1.  -3.   4.2 12. ]

In [56]:
matriz2=np.ones((2,3))
matriz2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [58]:
type(matriz2)

numpy.ndarray

In [59]:
matriz3= np.diag((2,3,5,6,4,10))
matriz3

array([[ 2,  0,  0,  0,  0,  0],
       [ 0,  3,  0,  0,  0,  0],
       [ 0,  0,  5,  0,  0,  0],
       [ 0,  0,  0,  6,  0,  0],
       [ 0,  0,  0,  0,  4,  0],
       [ 0,  0,  0,  0,  0, 10]])

In [60]:
type(matriz3)

numpy.ndarray